@model OIG_Test.Models.Research

@{
    ViewData["Title"] = "Details";
}

@functions {
    public Boolean canEdit(DateTime startDate)
    {
        DateTime currentTime = DateTime.Now;
        return currentTime < startDate;
    }
}

<h1>Details</h1>

<div>
    <h4>Research</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResearchState)
        </dd>
    </dl>
</div>
<div>

    @if (@canEdit(@Model.StartDate))
    {
        <a asp-action="Edit" asp-route-id="@Model.ResearchId">Edit</a> @(" |")
    }
    <a asp-action="Index">Back to List</a>
</div>
